@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@400;700&family=Ubuntu&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.clock-container {
  text-shadow: 2px 1px 1px #333;
  text-align: center;
  color: #fff;
}

.clock {
  font-size: 150px;
}

.user {
  font-size: 2.8rem;
}

.focus-container {
  margin-top: 3rem;
  font-size: 2rem;
}

.focus-container input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 2px solid #ddd;
  font-size: 3rem;
  color: #fff;
}

small {
  font-size: 50px;
}
