@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@400;600;700&family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 750px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

img {
  border-radius: 5px;
  height: 430px;
  margin-bottom: 2rem;
}

.tabs-container {
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content {
  display: none;
}

.btn.active {
  background-color: #fff;
  color: #222;
  box-shadow: none;
  border: 1px solid #666;
  transform: scale(0.98);
}

.content.active {
  display: block;
}

h4 {
  font-weight: 600;
  position: relative;
  animation: slideText 0.5s ease-out;
}

@keyframes slideText {
  0% {
    opacity: 0;
    left: -200px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}
