@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@400;700&family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: none;
  background-color: #262626;
  font-size: 40px;
  border: 4px solid #262626;
  padding: 40px 80px;
  position: relative;
  color: transparent;
  overflow: hidden;
}

a::before {
  content: "DevBrix!";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff706;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

a::after {
  content: "DevBrix!";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff706;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}

a:hover::before {
  transform: translate(100%, -100%);
}

a:hover::after {
  transform: translate(0, 0);
}
